NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z29sZGVuLXBsYXR5cHVzLTU0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_TKdxJCrsuoknLeYz8oxyDhv1i4aWEyCmTE9fLegf1p

# Supabase
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
